@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @layer base {
        :root {
            --pagination-padding-y: 7px;
            --pagination-padding-x: 15px;
            --pagination-item-margin-x: 5px;
            --pagination-color: hsl(20, 14.3%, 4.1%);
            --pagination-bg: hsl(0, 0%, 100%);
            --pagination-hover-color: hsl(24, 9.8%, 10%);
            --pagination-hover-bg: hsl(60, 4.8%, 95.9%);
            --pagination-active-color: hsl(26, 83.3%, 14.1%);
            --pagination-active-bg: hsl(35, 100%, 48%);
            --pagination-disabled-color: hsla(20, 14.3%, 4.1%, 0.5);
            --pagination-disabled-bg: hsla(0, 0%, 100%, 0.5);
            --pagination-border-color: hsl(20, 5.9%, 90%);

            --background: 0 0% 100%;
            --foreground: 20 14.3% 4.1%;

            --card: 0 0% 100%;
            --card-foreground: 20 14.3% 4.1%;

            --popover: 0 0% 100%;
            --popover-foreground: 20 14.3% 4.1%;

            --primary: 35 100% 48%;
            --primary-foreground: 26 83.3% 14.1%;

            --secondary: 60 4.8% 95.9%;
            --secondary-foreground: 24 9.8% 10%;

            --muted: 60 4.8% 95.9%;
            --muted-foreground: 25 5.3% 44.7%;

            --accent: 60 4.8% 95.9%;
            --accent-foreground: 24 9.8% 10%;

            --destructive: 0 84.2% 60.2%;
            --destructive-foreground: 60 9.1% 97.8%;

            --border: 20 5.9% 90%;
            --input: 20 5.9% 90%;
            --ring: 20 14.3% 4.1%;

            --radius: 0.5rem;
        }

        .dark {
            --pagination-color: hsl(60, 9.1%, 97.8%);
            --pagination-bg: hsl(20, 14.3%, 4.1%);
            --pagination-hover-color: hsl(60, 9.1%, 97.8%);
            --pagination-hover-bg: hsl(12, 6.5%, 15.1%);
            --pagination-active-color: hsl(26, 83.3%, 14.1%);
            --pagination-active-bg: hsl(35, 100%, 48%);
            --pagination-disabled-color: hsla(60, 9.1%, 97.8%, 0.5);
            --pagination-disabled-bg: hsla(20, 14.3%, 4.1%, 0.5);
            --pagination-border-color: hsl(12, 6.5%, 15.1%);

            --background: 20 14.3% 4.1%;
            --foreground: 60 9.1% 97.8%;
            --card: 20 14.3% 4.1%;
            --card-foreground: 60 9.1% 97.8%;
            --popover: 20 14.3% 4.1%;
            --popover-foreground: 60 9.1% 97.8%;
            --primary: 35 100% 48%;
            --primary-foreground: 26 83.3% 14.1%;
            --secondary: 12 6.5% 15.1%;
            --secondary-foreground: 60 9.1% 97.8%;
            --muted: 12 6.5% 15.1%;
            --muted-foreground: 24 5.4% 63.9%;
            --accent: 12 6.5% 15.1%;
            --accent-foreground: 60 9.1% 97.8%;
            --destructive: 0 62.8% 30.6%;
            --destructive-foreground: 60 9.1% 97.8%;
            --border: 12 6.5% 15.1%;
            --input: 12 6.5% 15.1%;
            --ring: 35.5 91.7% 32.9%;
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    section {
        @apply container mt-12 sm:mt-14 lg:mt-16;
    }
    h1 {
        @apply text-4xl leading-[44px] lg:text-[40px] lg:leading-[48px] font-bold;
    }
    h2 {
        @apply text-3xl lg:text-4xl font-bold;
    }
    h3 {
        @apply text-2xl font-semibold;
    }
    h4 {
        @apply text-lg font-semibold;
    }
    h5 {
        @apply font-semibold;
    }
    h6 {
        @apply text-sm;
    }
    p {
        @apply text-muted-foreground;
    }
}

@layer components {
    .line-x {
        @apply flex items-center text-xs uppercase before:flex-1 before:border-t before:border-border after:flex-1 after:border-t after:border-border;
    }
    .bg-overly {
        @apply bg-cover bg-center bg-no-repeat;
    }
    .sticky-nav {
        @apply z-20 sticky top-0 bg-background border-b;
    }
}
